
.filters {
  text-align: center;
  margin-bottom: 20px;
  padding: 20px;
}
.filters select {
  margin: 0 10px;
  padding: 5px 10px;
}


 
  .search-container {
    text-align: center;
    margin-bottom: 30px;
    
  }

  #searchInput {
    width: 60%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 10px;
    font-size: 16px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  }

  /* .sidebar {
    width: 200px;
    padding: 1rem;
    background-color: #f4f4f4;
  }
  .sidebar.hidden{
    display: none;
  }
  .products.full-width{
    margin-left: 0;
  } */
  
  
  
  
  /* @keyframes shine {
    0% { transform: skewX(-25deg) translateX(0); }
    100% { transform: skewX(-25deg) translateX(250%); }
  } */
  
